In [ ]:
import pandas as pd

file_path = "/content/homicideinenglandandwalesappendixtablesyemar2024.xlsx"  # creating a var instead of directly loading it so it can be loaded with a specific table

#df = pd.read_csv("/content/Crime_Aged under 16.csv")
#df.head()

In [ ]:
df3 = pd.read_csv("/content/Locations of crime.csv")
df3.head()

,Area Name,Latitude,Longitude,Police Force Area code,Police Force Area name,Apr 2013 to Mar 2014,Apr 2014 to Mar 2015,Apr 2015 to Mar 2016,Apr 2016 to Mar 2017,Apr 2017 to Mar 2018,Apr 2018 to Mar 2019,Apr 2019 to Mar 2020,Apr 2020 to Mar 2021,Apr 2021 to Mar 2022,Apr 2022 to Mar 2023,Apr 2023 to Mar 2024
0,England and Wales,52.3555,-1.1743,K04000001,ENGLAND AND WALES,520,504,538,689,697,641,676,555,676,585,570
1,England,52.3555,-1.1743,E92000001,ENGLAND,504,478,505,655,652,614,633,536,642,559,541
2,North East,54.7753,-1.5849,E12000001,North East,26,25,18,27,19,36,28,21,26,37,30
3,Cleveland,54.5742,-1.2348,E23000013,Cleveland,7,5,4,6,3,16,11,7,8,10,13
4,Durham,54.7753,-1.5849,E23000008,Durham,4,1,0,4,3,6,5,2,4,7,4

In [ ]:
# dropping the columns so i only have the needed lat and lon columns for the map function
df_new = df3.drop(columns=['Police Force Area code',	'Police Force Area name',	'Apr 2013 to Mar 2014',	'Apr 2014 to Mar 2015',	'Apr 2015 to Mar 2016',	'Apr 2016 to Mar 2017',	'Apr 2017 to Mar 2018',	'Apr 2018 to Mar 2019',	'Apr 2019 to Mar 2020',	'Apr 2020 to Mar 2021',	'Apr 2021 to Mar 2022',	'Apr 2022 to Mar 2023',	'Apr 2023 to Mar 2024'])

In [ ]:
df_new.head()

           Area Name  Latitude  Longitude
0  England and Wales   52.3555    -1.1743
1            England   52.3555    -1.1743
2         North East   54.7753    -1.5849
3          Cleveland   54.5742    -1.2348
4             Durham   54.7753    -1.5849

In [ ]:
df_new.to_csv(r'/content/Lat and Lon locations.csv', index = False)

In [ ]:
df.replace('[x]', 0, inplace=True) # changing all the weird values to represent nothing with 0

In [ ]:
df.head() # sampling to see if change worked which it did

,Sex of victim,Victim acquainted with suspect,Relationship to principal suspect,Apr 2013 to Mar 2014_count,Apr 2014 to Mar 2015\n[note 17]_count,Apr 2015 to Mar 2016_count,Apr 2016 to Mar 2017_count,Apr 2017 to Mar 2018_count,Apr 2018 to Mar 2019\n[note 17]_count,Apr 2019 to Mar 2020_count,...,Apr 2014 to Mar 2015\n[note 17]_percent,Apr 2015 to Mar 2016_percent,Apr 2016 to Mar 2017_percent,Apr 2017 to Mar 2018_percent,Apr 2018 to Mar 2019\n[note 17]_percent,Apr 2019 to Mar 2020_percent,Apr 2020 to Mar 2021\n[note 17]_percent,Apr 2021 to Mar 2022_percent,Apr 2022 to Mar 2023_percent,Apr 2023 to Mar 2024_percent
0,Male,Victim acquainted with suspect,Son or daughter,10,21,7,22,16,12.0,13.0,...,67.74193548387096,43.75,50,59.25925925925925,36.36363636363637,38.23529411764706,58.82352941176471,41.46341463414634,46.666666666666664,38.46153846153847
1,Male,Victim acquainted with suspect,Other family/friend/acquaintance,2,3,1,5,4,10.0,5.0,...,9.67741935483871,6.25,11.363636363636363,14.814814814814813,30.303030303030305,14.705882352941178,14.705882352941178,19.51219512195122,16.666666666666664,3.8461538461538463
2,Male,Victim acquainted with suspect,Total,12,24,8,27,20,22.0,18.0,...,77.41935483870968,50,61.36363636363637,74.07407407407408,66.66666666666666,52.94117647058824,73.52941176470588,60.97560975609756,63.33333333333333,42.30769230769231
3,Male,Victim not known to be acquainted with suspect,Stranger,2,1,0,0,0,4.0,5.0,...,3.225806451612903,0,0,0,12.121212121212121,14.705882352941178,2.941176470588235,4.878048780487805,6.666666666666667,7.6923076923076925
4,Male,Victim not known to be acquainted with suspect,Relationship not known,0,0,1,0,2,1.0,1.0,...,0,6.25,0,7.4074074074074066,3.0303030303030303,2.941176470588235,2.941176470588235,7.317073170731707,0,7.6923076923076925

In [ ]:
df.to_csv(r'/content/Crime Aged under 16.csv', index=False) # saving this file now its fixed

In [ ]:
df2 = pd.read_excel(file_path, sheet_name='Table 24', skiprows=7)
df2.head()

/usr/local/lib/python3.11/dist-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: 'Worksheet 16'!$A:$N.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

,Police Force Area code,Police Force Area name,Apr 2013 to Mar 2014,Apr 2014 to Mar 2015,Apr 2015 to Mar 2016,Apr 2016 to Mar 2017,Apr 2017 to Mar 2018,Apr 2018 to Mar 2019,Apr 2019 to Mar 2020,Apr 2020 to Mar 2021,Apr 2021 to Mar 2022,Apr 2022 to Mar 2023,Apr 2023 to Mar 2024,Rate of offences per million population Apr 2021 to Mar 2024 [note 5]
0,K04000001,ENGLAND AND WALES,520,504,538,689,697,641,676,555,676,585,570,10.194901
1,E92000001,ENGLAND,504,478,505,655,652,614,633,536,642,559,541,10.23316
2,E12000001,North East,26,25,18,27,19,36,28,21,26,37,30,11.606354
3,E23000013,Cleveland,7,5,4,6,3,16,11,7,8,10,13,17.934366
4,E23000008,Durham,4,1,0,4,3,6,5,2,4,7,4,7.875008

In [ ]:
df2.to_csv(r'/content/Locations of crime.csv', index = False)